body {
    font-family: SourceCodePro;
    font-size: 12px;
    background: #222;
    color: #999;
}

#footer {
    display: none;
}

.command-wrapper {
    position: relative;
}

.command-wrapper > i {
    position: absolute;
    top: 4px;
    left: 0px;
}
