body {
    font-family: SourceCodePro;
    font-size: 12px;
    background: #222;
    color: #999;
}

#footer {
    display: none;
}

.template {
    display: none;
}

.command {
    position: relative;
}

.command > i {
    position: absolute;
    top: 15px;
    left: 0px;
}

.command .command-input {
    position: relative;
    width: 100%;
    background: #222;
    word-break: break-all;
    outline: none;
    border: none;
    resize: none;
    padding: 0;
    padding-left: 16px;
    padding-top: 12px;
}

pre {
    display: block;
    padding: 0px;
    margin: 0px;
    font-size: inherit;
    line-height: initial;
    color: inherit;
    word-break: break-all;
    word-wrap: break-word;
    background-color: transparent;
    border: none;
    border-radius: 0px;
}
